[build-system]
requires = ["hatchling<=1.18.0"]
build-backend = "hatchling.build"

[project]
name = "fameal"
version = "2024.0.0"
dependencies = [
    "CDPKit==1.1.1",
    "joblib==1.4.2",
    "numpy>=1.26.4",
    "pandas>=2.2.2",
    "scikit-learn>=1.5.1",
]
requires-python = ">=3.10"
authors = [
  {name = "Roxane Jacob", email = "roxane.axel.jacob@univie.ac.at"},
]
maintainers = [
  {name = "Roxane Jacob", email = "roxane.axel.jacob@univie.ac.at"}
]
description = "FAME3R: a re-implementation of the FAME.AL model"
readme = "README.md"
license = {text = "MIT License"}
