
name: Python Package CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  quality:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
        pip install -e ".[dev]"
        
    - name: Run Black
      run: black .
      continue-on-error: true
    
    - name: Run isort
      run: isort .
      continue-on-error: true
    
    - name: Run Pylint
      run: pylint .
      continue-on-error: true
    
    - name: Run pydocstyle
      run: pydocstyle .
      continue-on-error: true
    
    # - name: Run tests with coverage
    #   run: pytest tests/
    #   continue-on-error: true
    
    # - name: Build package
    #   run: python -m build
    #   continue-on-error: true
